*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0px;
    margin: 0px;
}
body{
    margin: 0px;
    position: relative;
}
nav{
    background-color: #550065;
    position: fixed;
    width: 100%;
    padding-bottom: 10px;
    z-index: 5;
}
.logo{
    display: inline;
    margin-left: 10px;
    margin-top: 10px;
    width: 100%;
}
#ham{
    height: 28px;
    width: 28px;
    margin-left: 15px; 
    border-radius: 100;
}

a{
    text-decoration: none;
    color: #FFFFFF;
    margin-left: 50px;
    font-weight: 610;
    font-size: .875rem;
}
a:hover{
    color: #D5C46C;
}
.hero{
    background-image: url("../images/FIFAPLUS_WOMEN-SWORLDCUP_TICKETS-BANNER-1.png");
    background-size: cover;
    background-attachment: fixed;
    color:white;
    padding-top: 200px;
    padding-bottom: 300px;
}
.hero2{
    background-image: url("../images/FWC2022_NewZealand_Hospitality_Banner_05.png");
    background-size: cover;
    background-attachment: fixed;
    color:white;
    padding-top: 200px;
    padding-bottom: 300px;
}
.hero3{
    background-image: url("../images/U20_INDONESIA-WC_2023_Banner.png");
    background-size: cover;
    background-attachment: fixed;
    color:white;
    padding-top: 200px;
    padding-bottom: 300px;
}
.hero4{
    background-image: url("../images/FIFAPLS_PR_WorldCup2026_Announcement_Thumb_03.png");
    background-size: cover;
    background-attachment: fixed;
    color:white;
    padding-top: 300px;
    padding-bottom: 300px;

}
.hero h1{
    font-size: 18pt;
}
.hero2 h1{
    font-size: 18pt;
}
.container{
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}
button{
    background-color: transparent;
    border-style: solid;
    margin-top: 10px;
    border-radius: 30px;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
}


.fifa_partners{
    border-top: 1px solid rgb(0, 0, 0, 0.2);
    border-bottom: 1px solid rgb(0, 0, 0, 0.2);
}

.fifa_partners_heading {
    text-align: center;
    margin: 30px;
}

.fifa_partners_row{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.fifa_partners_img{
    width: auto;
    height: auto;
    margin: 40px;  
}

footer{
    border-bottom: 1px solid rgb(0, 0, 0, 0.5);
}

.footer_container{
    margin: 30px;
    margin-left: 100px;
}

.footer_heading {
    font-size: 18px;
    margin-left: 5px;
}

.footer_row{
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.footer_ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding: 0px;
}

.footer_second_ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin-left: 60px;
}

.footer_ul_li{
    margin: 5px;
}

.footer_ul_li_a{
    color: black;
    font-size: 18px;
    font-family: Open Sans Regular;
    text-decoration: none;
}

.footer_ul_li_a:hover {
    color: #0a5bfc;
}

.footer_img{
    width: 30px;
    height: 30px;
    margin: 15px;
    margin-left: 0px;
   
}

#footer_fifa_img{
    width:120px; 
    height:50px;
}

.footer_third_row{
    display: flex;
    flex-direction: row;
}

.footer_third_ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.footer_third_ul_li{
    margin-right: 5px;
}

.footer_third_ul_li_a{
    color: black;
    font-size: 14px;
    font-family: Open Sans Regular;
    text-decoration: none;
}

.footer_third_ul_li_a:hover {
    color: #0a5bfc;
}

#language{
    font-size: 16px;
    font-weight: bold;
    height: 40px;
    width: 120px;
    border: 1px solid rgb(0, 0, 0, 0.9);
    border-radius: 5px;
    background-image:url("Resources\images\language.jpg");
    background-size: 25%;
    background-repeat: no-repeat;
    background-position: 80%;
    margin-left: 40%;
}

